
@{
    ViewData["Title"] = "Giới thiệu";
    Layout = "~/Views/Shared/_Site.cshtml";
}

<!-- Page Header Start -->
<div class="container-fluid page-header py-6 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center pt-5 pb-3">
        <h1 class="display-4 text-white animated slideInDown mb-3">Giới thiệu</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="#">Trang chủ</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Khác</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Giới thiệu</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- About Start -->
<div class="container-xxl py-6">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row img-twice position-relative h-100">
                    <div class="col-6">
                        <img class="img-fluid rounded" src="/img/about1.jpg" alt="">
                    </div>
                    <div class="col-6 align-self-end">
                        <img class="img-fluid rounded" src="/img/about2.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <p class="text-primary text-uppercase mb-2">// Giới thiệu</p>
                    <h1 class="display-6 mb-4">Tận Hưởng Thế Giới Đồ Uống & Kem Tươi Mát Lạnh</h1>
                    <p>
                        Chào mừng bạn đến với Coffee House! Chúng tôi tự hào mang đến hành trình trải nghiệm hương vị phong phú từ những ly Coffee đậm đà, các dòng Trà trái cây thanh mát,
                        Soda sảng khoái cho đến thế giới Kem ngọt ngào, tươi mát. Hãy lựa chọn cho mình một hương vị yêu thích để nạp năng lượng cho ngày mới nhé!
                    </p>
                    <div class="row g-2 mb-4">
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>Cà phê đậm đà nguyên bản
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>Trà & Soda thanh mát tự nhiên
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>Kem tươi ngọt ngào
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>Giao hàng tận nơi nhanh chóng
                        </div>
                    </div>
                    <a class="btn btn-primary rounded-pill py-3 px-5" href="">Xem Thêm</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Team Start -->

<div class="container-xxl py-6">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="text-primary text-uppercase mb-2">// Đội Ngũ Nhân Viên</p>
            <h1 class="display-6 mb-4">Những Chuyên Gia Pha Chế Tâm Huyết</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item text-center rounded overflow-hidden">
                    <img class="img-fluid" src="/img/team1.jpg" alt="">
                    <div class="team-text">
                        <div class="team-title">
                            <h5>Tiêu Chiến</h5>
                            <span>Chuyên viên Pha chế</span>
                        </div>
                        <div class="team-social">
                            <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item text-center rounded overflow-hidden">
                    <img class="img-fluid" src="/img/team2.jpg" alt="">
                    <div class="team-text">
                        <div class="team-title">
                            <h5>Vương Tuấn Khải</h5>
                            <span>Chuyên viên Pha chế</span>
                        </div>
                        <div class="team-social">
                            <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item text-center rounded overflow-hidden">
                    <img class="img-fluid" src="/img/team3.jpg" alt="">
                    <div class="team-text">
                        <div class="team-title">
                            <h5>Bạch Lộc</h5>
                            <span>Quản lý Cửa hàng</span>
                        </div>
                        <div class="team-social">
                            <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item text-center rounded overflow-hidden">
                    <img class="img-fluid" src="/img/team4.jpg" alt="">
                    <div class="team-text">
                        <div class="team-title">
                            <h5>Ngô Kiến Huy</h5>
                            <span>Chuyên viên Làm kem</span>
                        </div>
                        <div class="team-social">
                            <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->